.cover__link {
    /*position: absolute;*/
    width: 100%;
    padding-bottom: 65%;
   /* height: 100%;*/
    z-index: 1;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}
/*
@media screen and (max-width: 320px) {
    .cover__link {
        height: 200px;
    }
}
*/
