.photo-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    gap: 16px;
    grid-auto-flow: dense;
    /*min-width: 1184px;*/
   /* min-height: calc(100vh - 32px);*/
    /*box-sizing: border-box;*/
    max-width: 92.5%;
    margin: auto;
   
}
/*
@media screen and (max-width: 1024px) {
    .photo-grid {
        margin-left: 48px;
        margin-right: 48px;
    }
}
*/
@media screen and (max-width: 320px) {
    .photo-grid {
       row-gap: 12px;
       max-width: 94%;
    }
}