.lead {
    width: 75%;
   /* min-height: 1005px;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
    color: #ffffff;
    margin: auto;
    
}
/*
@media screen and (max-width: 1024px) {
    .lead {
        min-height: 962px;
    }
}*/

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
    }
}
/*
@media screen and (max-width: 540px) {
    .lead {
        min-height: 616px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        min-height: 406px;
        width: 100%;
    }
}*/