.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 456px;
    max-height: 22px;
    text-decoration: underline;
    align-self: flex-start;
    
}

.place__link:link {
    color:#ffffff;
}

.place__link:visited {
    color: #ffffff;
}

.place__link:hover {
    cursor: url('/images/Pointer.svg'), pointer;
    opacity: 0.8;
}

.place__link:active {
    color: #ffffff;
}