.footer__copyright {
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-left: 16px;
        margin-bottom: 24px;
        text-align: start;
    }
}