.cover {
    font-family: 'Inter';
    background-image: url('../../images/cover-trains.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 0;
    color: #ffffff;
    max-width: 92.5%;
    padding-bottom: 60%;
    position: relative;
    display: flex;
    /*margin: 92px 0;*/
    margin: auto;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    transition: 0.3s;
    background-color: #2a2c2f;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        padding-bottom: 62.5%;
    }
}
/*
@media screen and (max-width: 768px){
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 540px){
    .cover {
        min-height: 400px;
    }
}
*/
@media screen and (max-width: 320px) {
    .cover {
        margin-top: 64px;
        width: 100%;
    }
    
}

