.footer__navigation-item {
    display: inline;
}

@media screen and (max-width: 320px) {
    .footer__navigation-item {
        display: block;
        margin-bottom: 32px;
        padding-left: 16px;
    }
}