.lead__caption {
  width: 100%;
  min-height: 14px;
  margin-top: 8px;
  margin-left: 148px;
 /* margin-left: 148px;*/
  margin-bottom: 0;
  text-align: start;
  position: relative;
  letter-spacing: 0.15em;
  font-size: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}