.lead__caption {
  
  text-align: start;
  margin: 0 auto 0 0;
  letter-spacing: 0.15em;
  font-size: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}