/*.place__*/.paragraph_first {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 24px;
    grid-area: text-first;
}
/*
@media screen and (max-width: 320px) {
    .paragraph_first {
        min-height: 157px;
    }
}*/