.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: auto;
    grid-template-areas: 
      "title website"
      "image text";
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px ;
   
    
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px; 
    margin-bottom: 48px;
  }
}
/*
@media screen and (max-width: 768px) {
  .place {
    margin-left:  24px;
    margin-right: 24px;
  }
*/
@media screen and (max-width: 540px) {
  .place {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    
  }
  
}

@media screen and (max-width: 320px) {
  .place {
    width: 100%;
    margin: 0;
    grid-row: 15% auto;
    row-gap: 0;
    column-gap: 0;
  }
}