.place__website {
    grid-area: website;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 460px;
    min-height: 152px;
    
   /* margin-bottom: 48px;*/
    /*grid-column: 2;*/
}


@media screen and (max-width: 540px) {
    .place__website {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        display: none;
    }
}